body {
    background-color: darkolivegreen;
}

#rackPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    height: 33%;
    cursor: pointer;
}

.navbar {
    background-color: darkolivegreen;
    box-shadow: none;
    padding-top: 2.5vh;
}

.nav-link {
    color: white;
    font-family: andale mono, monospace;
    text-shadow: 10px 12px 8px black;
    font-size: 2vh;
    margin-left: 60vw;
}
.nav-link:hover {
    cursor: pointer;
    color: black;
    text-shadow: 5px 12px 4px black;
}

.landingPageText {
    text-align: center;
    font-size: 5vh;
    padding-top: 3vh;
    color: white;
    font-family: andale mono, monospace;
    text-shadow: 10px 12px 8px black;
}
