<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="./images/Logo.ico">
    <title> Admin | Lost on The Rack</title>

<body>
    
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" >
            <img src = "/images/Logo.ico" alt = "Lost On The Rack Logo" height = "200" width = "200" >
            
        </a>
      </nav>

</body>
</html>